@import "./base/reset";
@import "./base/typography";
@import "./base/variables";
@import "./base/abstracts";

body {
  padding: 12vh 10vw 1vh 12vw;
  box-sizing: border-box;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: auto, auto;
}

.top-container {
  @extend %flex;
  justify-content: space-around;
  width: 100%;
}

.description-container {
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: aqua;
  flex: 1;
}

#title,
.description {
  color: $rose-800;
}

#title {
  font-size: 2.5rem;
  font-weight: 800;
  width: 70%;
  margin-bottom: 1.75rem;
}

.description {
  padding-right: 4rem;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

.ratings-container {
  @extend %flex;
  flex-direction: column;
  background-color: aquamarine;
  flex: 1.25;
  min-width: 0;
}

.rating-card {
  @extend %flex;
  justify-content: start;
  background-color: $rose-50;
  padding: 1.1rem 2.4rem 1.1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  width: 28vw;
  position: relative;
  &:nth-of-type(2) {
    margin-left: 6rem;
  }
  &:nth-of-type(3) {
    margin-left: 12rem;
  }
}

.star {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("./images/icon-star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
  &:nth-child(5) {
    margin-right: 2rem;
  }
}

.text-rating {
  font-size: 0.9rem;
  color: $rose-800;
  font-weight: 800;
}

.reviews-container {
  @extend %flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;
}

.review-card {
  @extend %flex;
  flex-direction: column;
  background-color: $rose-800;
  border-radius: 7px;
  width: 330px;
  height: 230px;
  padding: 30px;
  box-sizing: border-box;
  &:nth-of-type(2) {
    margin-top: 40px;
  }
  &:nth-of-type(3) {
    margin-top: 80px;
  }
}

.person-container {
  @extend %flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.person-pic {
  height: 2.6rem;
  border-radius: 50%;
}

.person-name,
.person-title {
  margin-left: 20px;
}

.person-name,
.review-text {
  color: $light-text-color;
}

.person-title {
  color: $rose-400;
}

.attribution {
  position: relative;
  bottom: 0;
  padding: 0.25rem;
}

@media (max-width: 768px) {
  body {
    padding: 6vh 5vw 1vh 6vw;
  }

  .rating-card {
    flex-direction: column;
    width: 22rem;
    padding: 1rem 1rem;
    margin: 0.5rem 0;

    &:nth-of-type(2) {
      margin-left: inherit;
    }
    &:nth-of-type(3) {
      margin-left: inherit;
    }
  }

  .rating-card {
    margin-left: 0;
    &:nth-of-type(2) {
      margin-left: 0;
    }
    &:nth-of-type(3) {
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  body {
    padding: 4rem 1.5rem 1rem 1.5rem;
    background-image: url("./images/bg-pattern-top-mobile.svg"),
      url("./images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: auto, auto;
  }
  .top-container {
    width: 100%;
    flex-direction: column;
  }
  .description-container {
    padding: 1rem;
    width: 100%;
  }

  #title,
  .description {
    align-self: center;
    text-align: center;
  }

  #title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .description {
    padding: 0.5rem;
  }

  .rating-card {
    flex-direction: column;
    width: 22rem;
    padding: 1rem 1rem;
    margin: 0.5rem 0;

    &:nth-of-type(2) {
      margin-left: inherit;
    }
    &:nth-of-type(3) {
      margin-left: inherit;
    }
  }

  .reviews-container {
    margin-top: 2.25rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .review-card {
    &:nth-of-type(2) {
      margin-top: 1.25rem;
    }
    &:nth-of-type(3) {
      margin-top: 1.25rem;
    }
  }
}
